{% extends 'eclabmanagement/student/base.html' %}
{% load static %}
{% block content %}

        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center bg-primary">
				<div class="container">
					<div class="banner_content text-center">
						<h2>Cart</h2>
						<!--<div class="page_link">
							<a href="index.html">Home</a>
							<a href="cart.html">Cart</a>
						</div> -->
					</div>
				</div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Cart Area =================-->
        <section class="cart_area">
        	<div class="container">
        		<div class="cart_inner">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Product</th>
									<th scope="col"></th>
									<th scope="col">Quantity</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div class="media">
											<div class="d-flex">
												<img src="img/product/single-product/cart-1.jpg" alt="">
											</div>
											<div class="media-body">
												<p>Minimalistic shop for multipurpose use</p>
											</div>
										</div>
									</td>
									<td></td>
									<td>
										<div class="product_count">
											<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
											<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
											<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
										</div>
									</td>
									<td>
										<h5><div class="main_btn bg-primary">Delete</div></h5>
									</td>
								</tr>
									<tr>
									<td>
										<div class="media">
											<div class="d-flex">
												<img src="img/product/single-product/cart-1.jpg" alt="">
											</div>
											<div class="media-body">
												<p>Minimalistic shop for multipurpose use</p>
											</div>
										</div>
									</td>
									<td></td>
									<td>
										<div class="product_count">
											<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
											<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
											<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
										</div>
									</td>
									<td>
										<h5><div class="main_btn bg-primary">Delete</div></h5>
									</td>
								</tr>
	<tr>
									<td>
										<div class="media">
											<div class="d-flex">
												<img src="img/product/single-product/cart-1.jpg" alt="">
											</div>
											<div class="media-body">
												<p>Minimalistic shop for multipurpose use</p>
											</div>
										</div>
									</td>
									<td></td>
									<td>
										<div class="product_count">
											<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
											<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
											<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
										</div>
									</td>
									<td>
										<h5><div class="main_btn bg-primary">Delete</div></h5>
									</td>
								</tr>
	<tr>
									<td>
										<div class="media">
											<div class="d-flex">
												<img src="img/product/single-product/cart-1.jpg" alt="">
											</div>
											<div class="media-body">
												<p>Minimalistic shop for multipurpose use</p>
											</div>
										</div>
									</td>
									<td></td>
									<td>
										<div class="product_count">
											<input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
											<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;" class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
											<button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;" class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
										</div>
									</td>
									<td>
										<h5><div class="main_btn bg-primary">Delete</div></h5>
									</td>
								</tr>




								<tr class="">
									<td><div class="checkout_btn_inner">
										<a class="main_btn bg-primary" href="#">Continue Shopping</a>
										</div></td>
									<td></td>
									<td>
										<div class="checkout_btn_inner">
											<a class="main_btn bg-primary" href="#">Checkout</a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
        		</div>
        	</div>
        </section>
     </section>
{% endblock %}