{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static "img/favicon.png" %}" type="image/png">
        <title>ListAshop</title>
        <!-- Bootstrap CSS -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
        <link rel="stylesheet" href="{% static "css/studentprof.css" %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "vendors/linericon/style.css" %}">
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "vendors/owl-carousel/owl.carousel.min.css" %}">
        <link rel="stylesheet" href="{% static "vendors/lightbox/simpleLightbox.css" %}">
        <link rel="stylesheet" href="{% static "vendors/nice-select/css/nice-select.css" %}">
        <link rel="stylesheet" href="{% static "vendors/animate-css/animate.css" %}">
        <link rel="stylesheet" href="{% static "vendors/jquery-ui/jquery-ui.css" %}">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
        <!-- main css -->
        <link rel="stylesheet" href="{% static "css/style.css" %}">
        <link rel="stylesheet" href="{% static "css/responsive.css" %}">
        <style>
        {% block style %}
        {% endblock %}
        </style>
    </head>
    <body>
    <header class="header_area">
            <div class="main_menu">
            	<nav class="navbar navbar-expand-lg navbar-light ">
					<div class="container">
						<!-- Brand and toggle get grouped for better mobile display -->
						<a class="navbar-brand logo_h" href="index.html"><img src="{% static "img/logo.png" %}" alt=""></a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
							<ul class="nav navbar-nav menu_nav ml-auto">
								<ul class="nav navbar-nav menu_nav ml-auto">
                                <li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li> 
                                
                                <li class="nav-item"><a class="nav-link" href="#contact.html">Add Component</a></li>
                                 
                                <li class="nav-item"><a class="nav-link" href="#contact.html">Components</a></li>
                                <li class="nav-item"><a class="nav-link" href="#contact.html">Issue</a></li>
                                <li class="nav-item"><a class="nav-link" href="#contact.html">Return</a></li>
                                <li class="nav-item"><a class="nav-link" href="#contact.html">SignOut</a></li>
                            </ul>
						</div>
					</div>
            	</nav>
            </div>
        </header>
    {% block content %}
    {% endblock %}
    <footer class="footer-anew">
                <div class="row footer-bottom d-flex justify-content-between align-items-center"></div>
                    <p class="col-lg-12 footer-text text-center">B-03</p>
                </div>
        </footer>
        <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "js/popper.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="{% static "js/stellar.js" %}"></script>
        <script src="{% static "vendors/lightbox/simpleLightbox.min.js" %}"></script>
        <script src="{% static "vendors/nice-select/js/jquery.nice-select.min.js" %}"></script>
        <script src="{% static "vendors/isotope/imagesloaded.pkgd.min.js" %}"></script>
        <script src="{% static "vendors/isotope/isotope-min.js" %}"></script>
        <script src="{% static "vendors/owl-carousel/owl.carousel.min.js" %}"></script>
        <script src="{% static "js/jquery.ajaxchimp.min.js" %}"></script>
        <script src="{% static "js/mail-script.js" %}"></script>
        <script src="{% static "vendors/jquery-ui/jquery-ui.js" %}"></script>
        <script src="{% static "vendors/counter-up/jquery.waypoints.min.js" %}"></script>
        <script src="{% static "vendors/counter-up/jquery.counterup.js" %}"></script>
        <script src="{% static "js/theme.js" %}"></script>
    </body>
</html>