{% extends 'eclabmanagement/admin/base.html' %}
{% load static %}
{% block content %}

    <section class="banner_area ">
        <div class="banner_inner d-flex align-items-center bg-primary">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Component type List</h2>
                    <!--<div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="cart.html">Cart</a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <section class="cart_area">
            <div class="container" style="padding-top:0px;">
                    <div class="table-responsive table-bordered ">
                    <table class="table ">
                            <thead class="thead-dark">
                              
                              <tr>
                                <th scope="col">S-no</th>
                                <th scope="col">Model-name</th>
                                <th scope="col">available</th>
                                <th scope="col">cost</th>
                                <th scope="col">type</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for each_obj in comp_obj %}
                              <tr>
                                <th scope="row">1</th>
                                <td>{{each_obj.comp_name}}</td>
                                <td>{{each_obj.count}}</td>
                                <td>{{each_obj.cost}}</td>
                                <td>{{each_obj.type_of_comp}}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                          </table>
                    </div>
            </div>
    </section>
        
{% endblock %}