{% extends 'eclabmanagement/admin/base.html' %}
{% load static %}
{% block content %}

    <section class="banner_area ">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Component Description</h2>
                    <!--<div class="page_link">
                        <a href="index.html">Home</a>
                        <a href="cart.html">Cart</a>
                    </div> -->
                </div>
            </div>
        </div>
    </section>

    <section class="cart_area">
            <div class="container" style="padding-top:0px;">
                    <div class="card border-primary text-center">
                            <div class="card-header">
                              <h2>Component Name</h2>
                            </div>
                            <div class="card-body">
                              <p style="font-size:20px;" class="card-title text-left"><strong>Component-type:</strong>  lorem epsum de caprio</p>
                              <p style="font-size:20px;" class="card-title text-left"><strong>Available no:</strong>  lorem epsum de caprio</p>
                              <p style="font-size:20px;" class="card-title text-left"><strong>Actual total:</strong>  lorem epsum de caprio</p>
                              <p style="font-size:20px;" class="card-title text-left"><strong>Cost per item:</strong>  lorem epsum de caprio</p>
                              <a href="#" class="btn btn-primary">Back</a>
                            </div>
                            <div class="card-footer text-muted">
                            </div>
                    </div> 
            </div>
    </section>
        
{% endblock %}