{% extends 'eclabmanagement/admin/base.html' %}
{% load static %}
{% block content %}
    <section class="banner_area ">
        <div class="banner_inner d-flex align-items-center bg-primary">
            <div class="container">
                <div class="banner_content text-center">
                    <h2>Packet Details</h2>
                </div>
            </div>
        </div>
    </section>

    <section class="cart_area">
        <div class="container">
                <form class = "col-md-10 offset-md-1" action = "{% url 'update_return' %}" method = "POST">
                {% csrf_token %}
                   <div class="form-group">
                        <label for="exampleInputPacket">Packet id:</label>
                        <input type="text" class="form-control" id="exampleInputPacket" aria-describedby="emailHelp"   name="packet_id" value="{{packet_id}}" disabled>
                        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                    </div>
                    <input type="hidden" name="packet_id" value="{{packet_id}}">
                    <div class="form-group">
                        <label for="exampleInputStudent">Student name:</label>
                        <input type="text" class="form-control disabled" id="exampleInputStudent" placeholder={{name}} disabled>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputRoll">Roll Number:</label>
                            <input type="text" class="form-control" id="exampleInputRoll" placeholder={{roll_no}} disabled>
                    </div>
                    <div class="form-group">
                            <label for="exampleInputRoll">Return date:</label>
                            <input type="text" class="form-control" id="exampleInputRoll" placeholder={{return_date}} disabled>
                    <div class="table-responsive table-bordered col-md-12 form-group" >
                        <table class="table" >
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col">S-no</th>
                                <th scope="col">Component name</th>
                                <th scope="col">type</th>
                                <th scope="col">Quantity </th>
                                <th scope="col">Issued date </th>
                                <th scope = "col"> Return Component </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for i in component_list %}
                            <tr>
                                <th scope="row">{{i.index}}</th>
                                <td>{{i.name}}</td>
                                <td>{{i.type}}</td>
                                <td>{{i.count}}</td>
                                <td>{{i.date}}</td>
                                <td><input type="checkbox"  name = "{{i.uniq_id}}" id="{{i.name}}"  value="{{i.uniq_id}}" onclick="toggle1(this)"></td>
                            </tr>
                            {% endfor %}
                            </tbody>

                        </table>
                    </div>
                    <center><input type="checkbox" id="f-option" id = "select-all" name="all_submit" value ={{packet_id}} onclick="toggle(this)"> Return all Components <br>
                    <button type="submit" class="btn btn-primary"> submit </button></center>
                </form>
            </div>


    </div>
    </section>
</div>

{% endblock %}