{% extends 'eclabmanagement/admin/base.html' %}
{% load static %}
{% block content %}

        <section class="banner_area">
            <div class="banner_inner d-flex align-items-center bg-primary">
        <div class="container">
          <div class="banner_content text-center">
            <h2>Search Results</h2>
            <!--<div class="page_link">
              <a href="index.html">Home</a>
              <a href="cart.html">Cart</a>
            </div> -->
          </div>
        </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->
        
        <!--================Cart Area =================-->
        <section class="cart_area">
          <div class="container">
          <center>
          <h4>Search Results for "{{input}}"</h4>
            <div class="cart_inner">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Product</th>
                  <th scope="col">Type Of Component</th>
                  <th scope="col">Availability</th>
                  <th scope="col">Cost</th>
                  <th scope="col">Premium Component</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for each_comp in comp_obj %}
                  <tr>
                  <td>
                    <div class="media">
                      
                      <div class="media-body">
                        <p>{{ each_comp.comp_name}}</p>
                      </div>
                    </div>
                  </td>
                  <td><p>{{ each_comp.type_of_comp }}</p></td>
                  <td>
                    <p>{{ each_comp.count }}</p>
                  </td>
                  <td>
                    <p>{{ each_comp.cost }}</p>
                  </td>
                  <td>
                      {% ifequal each_comp.level True %}
                        <p>Yes</p>
                      {% else %}
                        <p>No</p>
                      {% endifequal %}
                  </td>
                </tr>


                {% endfor %}

                


                <!-- <tr class="">
                  <td><div class="checkout_btn_inner">
                    <a class="main_btn" href="#">Continue Shopping</a>
                    </div></td>
                  <td></td>
                  <td>
                    <div class="checkout_btn_inner">
                      <a class="main_btn" href="#">Proceed to checkout</a>
                    </div>
                  </td>
                </tr> -->
              </tbody>
            </table>
          </div>
            </div>
          </div>
          </center>
        </section>

       <div class="modal fade" id="addPostModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">



        <div class="bg-secondary text-white">
          <center><h3 class="modal-title">Component Description</h3></center>
          <button class="close" data-dismiss="modal">
            <span>&times;</span>
          </button>
        </div>
        <div class="s_product_text">
          
            <center><h3 class = "modal-title"><script>h = document.getElementById('this').name
                h = h.split(",")
                document.write(h[0])</script></h3></center>
                <div class="banner_content text-center col-md-6 offset-md-3">
                <p>Component Description will be displayed here.</p>
                </div>
                <center> 
                <ul class="list">
                    <li><a href="#"><span>Availibility</span><script>h = document.getElementById('this').name
                        h = h.split(",")
                        document.write(h[1])</script></a></li>
                </ul></center><br>
                
                
            </div>
      </div>

    </div>
  </div>
{% endblock %}