.alert-purple { border-color: #694D9F;background: #694D9F;color: #fff; }
.alert-info-alt { border-color: #B4E1E4;background: #81c7e1;color: #fff; }
.alert-danger-alt { border-color: #B63E5A;background: #E26868;color: #fff; }
.alert-warning-alt { border-color: #F3F3EB;background: #E9CEAC;color: #fff; }
.alert-success-alt { border-color: #19B99A;background: #20A286;color: #fff; }
.glyphicon { margin-right:10px; }
.alert a {color: gold;}
table {
    /*border-collapse: separate;
    border-spacing: 0px 0;*/
  }
  
  td {
   /* padding: 100px 0;*/
  }
  td:nth-child(1) {
    
    align: middle;
    width: 700px;
    vertical-align: middle;
     
    }
  
  /* the second */
  td:nth-child(2) {
    align: right;
    width: 550px;
    
  }
  
  /* the third 
  td:nth-child(3) {
    width: 300px;
    
   }*/
   